body {
    color: rgb(247, 244, 244);
    background: rgba(0, 0, 0, 0.972);
    margin: 0px;
    font-family: "Jacquard 24 Charted", system-ui;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYW53EZneoWaCow9SD_Y2hN-bTSA6gT9e8eg&s);
    


    }

    header {
        border: solid 2px rgb(255, 255, 255);
    }

    header {
        border-bottom: solid 2px rgb(228, 42, 42);
        padding: 20px;
        font-size: 32px;
        color: rgb(228, 42, 42);
    }


    section {
        background: rgb(4, 4, 3);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }

    .chamada-texto {
        margin-right: 5%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    img {
        height: 200px;
    }
   
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }

    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: solid;
        
        

    }
   .jogos{
        
        margin: 180px

   }

eayhteghfdgeasghfdh