body {
    color: rgb(247, 244, 244);
    background: rgba(0, 0, 0, 0.972);
    margin: 0px;
    font-family: "Jacquard 24 Charted", system-ui;
    


    }

    header {
        border: solid 2px rgb(255, 255, 255);
    }

    header {
        border-bottom: solid 2px rgb(228, 42, 42);
        padding: 30px;
        font-size: 32px;
        color: rgb(61, 42, 228);
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYW53EZneoWaCow9SD_Y2hN-bTSA6gT9e8eg&s);
    
    }


    section {
        background: rgb(88, 88, 79);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }



    .chamada-texto {
        margin-right: 2%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    img {
        height: 200px;
    }
   
    .categoria {
        background-color: rgba(236, 236, 8, 0.63);
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;

    }

    .categoria-videos {

        display: flex;
        overflow-x: auto;
        grid-column-gap: 10px;


    }
       


   .categoria-videos img {

    opacity: 0.5;

   }

   .categoria-videos img:hover {

    opacity: 1.0;
    border: 1px solid rgb(3, 3, 3);

   }

   .categoria h2 {

    color: black;
    margin: 30px;


   }

